<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create Author</title>
</head>
<body>
<h1>Create Author</h1>
<form th:action="@{/authors/create}" th:object="${author}" method="post">
  <label for="name">Name:</label>
  <input type="text" id="name" th:field="*{name}" required>

  <button type="submit">Create</button>

<p>After the creation of a Author, you can continue to create more.</p>
<p>Click <a href="/authors">here</a> to view the list of Authors</p>
<p>Click <a href="http://localhost:8080/">here</a> to go back home.</p>

</form>
</body>
</html>
